@import '../../index.css';

.parent{
    position: absolute;
    top:9rem;
    right: 0;
    z-index: 2;
    /* transform: translateX(20%); */
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white);
    height: auto;
    border-radius: 1.5rem;
    box-shadow: 0 5px 12px rgba(0,0,0,0.125);
}

.header{
    padding: 2rem;
    border-bottom: 1px solid var(--grayish-blue);
    width: 100%;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartListBox{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.cartList{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.checkoutBtn{
    align-self: center;
    padding: 2rem;
    border: 0;
    width: 100%;
    border-radius: 1.5rem;
    color: white;
    background-color: var(--orange);
    font-weight: 700;
    cursor: pointer;
}
.close-btn{
    color: var(--orange);
    cursor: pointer;
}

.close-btn:hover{
    filter: contrast(100);
}

.checkoutBtn:active, .checkoutBtn:hover{
    filter:contrast(12);
}

@media (max-width: 500px) {
    .parent{
        top: 120%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(0);
        animation: MoveInFromTop 0.3s ease-in;
        animation-fill-mode: forwards;
    }
    @keyframes MoveInFromTop {
        0%{
            top: 100rem;
        }
        100%{
            top: 10rem;
        }
    }
}