.product-image-section{
    width: 100%;
    height: 100%;
}

.product-image-section{
    /* background-color: orchid; */
}

.container{
    width: 100%;
    height: 100%;
    /* background-color: aliceblue; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3.8rem
}

.main-image{
    width: 100%;
    height: 100%;
    /* background-color: orangered; */
    border-radius: 2rem;
    overflow: hidden;
}

.main-image img{
    width: 100%;
    height: 100%;
}